@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@theme{
    --color-main: #2F4858;
    --color-back: #fff7d6;
}

@layer base {
  body {
    font-family: 'Averia Serif Libre', serif;
  }
}


